@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
}

:root {
  --light: #ffe6e6;
  --dark: #0c0c0c;
  --bg-color: #ffffff;
  --gap: 0.5rem;
}

.new-container {
  background-color: var(--bg-color);
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem 5rem;
  width: 100%;
  height: 100vh;
}

.large-item-container {
  width: 100%;
  height: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0.1rem;
  margin-bottom: 0.1rem;
  padding: 0.1rem;
}

.small-items-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: var(--gap);
  width: 100%;
  height: 50%;
  margin-top: 0.1rem;
  margin-bottom: 0.1rem;
  padding: 0.1rem;
}

.new-content {
  cursor: pointer;
  overflow: hidden;
  position: relative;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  border-radius: 1rem;
  transition: width 0.5s ease-in-out, height 0.5s ease-in-out;
}

.new-content.large {
  width: 100%;
  height: 100%;
}

.new-content.small {
  width: 100%;
  height: 100%;
}

.new-content::before {
  content: "";
  position: absolute;
  z-index: -10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--dark);
  opacity: 0.6;
}

.new-content img {
  position: absolute;
  z-index: -20;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.new-content .new-profile-image {
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

.new-wrapper {
  display: grid;
  place-items: center;
  overflow: hidden;
  transition: grid-template-rows 0.5s cubic-bezier(0.23, 0.93, 0.77, 1) 0.01s;
}

.new-content:hover .new-profile-image {
  opacity: 0;
}

.new-profile-quote {
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%) translateY(0) scale(1);
  transition: bottom 0.8s ease-in-out,
    transform 0.8s cubic-bezier(0.23, 0.93, 0.77, 1) 0.01s,
    font-size 0.8s ease-in-out;
  opacity: 1;
}

.new-content:hover .new-profile-quote {
  bottom: 50%;
  transform: translateX(-50%) translateY(50%) scale(1.5);
  opacity: 1;
}

.new-profile-quote p {
  font-size: 1rem;
  font-weight: 600;
  color: var(--light);
  text-align: center;
  margin: 0;
  padding: 0 1rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: font-size 0.8s ease-in-out;
}

.new-content:hover .new-profile-quote p {
  font-size: 1.5rem;
}

.new-content.large .new-profile-quote p {
  font-size: 1.5rem;
}
