.aboutSection {
  background-color: white;
  color: black;
  text-align: center;
}

.quote,
.quote2 {
  font-size: 34px;
  background-color: black;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  padding: 40px;
  color: white;
  text-align: center;
  margin-bottom: 0;
}

.quote2 {
  margin-top: -1px;
  font-size: 24px;
  padding: 30px;
  margin-top: 10px;
}

ul {
  display: flex;
  padding: 0;
  margin: 0;
  list-style-type: none;
  flex-wrap: wrap;
  justify-content: center;
}

li {
  padding: 0;
}

img {
  max-width: 100%;
  width: 100%;
  object-fit: cover;
  transition: all 0.2s ease;
  display: block;
}

ul:is(:hover, :focus-within) img {
  opacity: calc(0.1 + (var(--active-lerp, 0) * 0.9));
  filter: grayscale(calc(1 - var(--active-lerp, 0)));
}

:root {
  --lerp-0: 1;
  --lerp-1: 0.5787037;
  --lerp-2: 0.2962963;
  --lerp-3: 0.125;
  --lerp-4: 0.037037;
  --lerp-5: 0.0046296;
  --lerp-6: 0;
}

a {
  outline-offset: 4px;
}

li {
  flex: calc(0.1 + (var(--active-lerp, 0) * 1));
  transition: flex 0.2s ease;
}

li:is(:hover, :focus-within) {
  --active-lerp: var(--lerp-0);
  z-index: 7;
}

li:has(+ li:is(:hover, :focus-within)),
li:is(:hover, :focus-within) + li {
  --active-lerp: var(--lerp-1);
  z-index: 6;
}

li:has(+ li + li:is(:hover, :focus-within)),
li:is(:hover, :focus-within) + li + li {
  --active-lerp: var(--lerp-2);
  z-index: 5;
}

li:has(+ li + li + li:is(:hover, :focus-within)),
li:is(:hover, :focus-within) + li + li + li {
  --active-lerp: var(--lerp-3);
  z-index: 4;
}

li:has(+ li + li + li + li:is(:hover, :focus-within)),
li:is(:hover, :focus-within) + li + li + li {
  --active-lerp: var(--lerp-4);
  z-index: 3;
}

li:has(+ li + li + li + li + li:is(:hover, :focus-within)),
li:is(:hover, :focus-within) + li + li + li + li {
  --active-lerp: var(--lerp-5);
  z-index: 2;
}

li:has(+ li + li + li + li + li + li:is(:hover, :focus-within)),
li:is(:hover, :focus-within) + li + li + li + li + li {
  --active-lerp: var(--lerp-6);
  z-index: 1;
}

.aboutSection .h1 {
  font-size: 70px;
  text-align: center;
  font-weight: 900;
  font-family: "Poppins", sans-serif;
  color: black;
  padding-top: 5px;
  padding-bottom: 0px;
}

.aboutSection .h3 {
  font-family: "Poppins", sans-serif;
  font-size: 40px;
  color: black;
  font-weight: 600;
  padding-top: 0px;
  margin-top: 0;
  margin-bottom: 5px;
}

.aboutSection .p {
  font-family: "Montserrat", sans-serif;
  padding: 10px 40px;
  color: black;
  font-weight: 550;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 10px;
}
